*{
	margin:0;
	padding:0;
}
ul{
	list-style:none;
}
body{
	min-height:800px;
}
pre{
	font-size:1.2em;
}
#box {
	width: 920px;
	margin: 0 0  0 240px;
}
#list_ref{
	position:fixed;
	top:10px;
	left:480px;
	padding:10px;
	background-color:#fff;
	line-height:2;
}
#info {
	font-size: 18px;
	font-weight: bold;
	color: red;
}
#list {
	line-height: 1.5;
}
#list li{
	margin-top:25px;
	padding:2px 5px;
	border-bottom:1px #eee solid;
	height:60px;
	position:relative;
}
.locaCount, .colCount, .upMargin, .downMargin, .singleDigit, .locaCountRef, .colCountRef, .upMarginRef, .downMarginRef, .singleDigitRef{
	position:absolute;
	top:26px;
	color: #777;
}
.locaCountRef, .colCountRef, .upMarginRef, .downMarginRef, .singleDigitRef{
	top:0px;
}
.locaCount, .locaCountRef{
	left:230px;
}
.colCount, .colCountRef{
	left:310px;
}
.upMargin, .upMarginRef{
	left:450px;
}
.downMargin, .downMarginRef{
	left:640px;
}
.singleDigit, .singleDigitRef{
	left:820px;
}
li p b{
	display:inline-block;
	width:1em;
	font-weight:400;
}
p.locaCount b, p.colCount b, p.singleDigit b, p.locaCountRef b, p.colCountRef b, p.singleDigitRef b{
	width:10px;
}
#console{
	position : fixed;
	right:2em;
	top:5em;
}
.details {
	position: relative;
	/*visibility:hidden;*/
	margin-left:320px;
	color: #777;
}
.ref{
	/*margin:-22px 0 0 80px;*/
	position:absolute;
	width:160px;
}
.ref_{
	width:auto;
}

.ref0{
	left:-60px;
	top:23px;
}
.ref1{
	left:30px;
}
.ref2{
	left:180px;
}
.ref3{
	left:340px;
}

.ref4{
	left:490px;
}
.ls{
	border-top:solid 2px #eee;
}
.bg{
	background-color:#eee!important;
}

.table{
	border-collapse: collapse;
	line-height:1.4!important;
}
.table td {
	border:solid 1px #c2c5d8;
	width:3.6em;
	text-align:center;
}

#groupListBox{
	position:fixed;
	top:40px;
	left:15px;
	border: solid 1px #c2c5d8;
}
#groupListBoxBtn, #groupListInfo2{
	position:absolute;
	left:0px;
	top:-25px;
	display:inline-block;
	width:2em;
	padding:3px;
	background-color:#eee;
}
#groupList, #groupList2{
	width:208px;
	height:600px;
	overflow:scroll;	
}
#groupList li, #groupList2 li{
	cursor:pointer;
	line-height:1.6;
	padding:5px;
	background-color:#fff;
}
#groupList li:hover, #groupList2 li:hover{
	background-color:#eee;
}

#refList{
	position:fixed;
	top:30px;
	left:640px;
	width:500px;
	background-color:rgba(240,240,240,0.4);
}
#refList li{
	position:relative;
	padding:0 5px;
	height:28px;
	border-bottom:solid 1px #efefef;
}

#refList li p{
	display:inline-block;
	width:280px;
	line-height:2;
}
#refList li p.locaMap{
	width:120px;
	margin:0 0 0 40px;
}
#refList li b{
	width:2em;
}

#refList li:nth-child(2n){
}
/*************************************/
/*滚动条样式*/
/*************************************/
 ::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(231,231,231,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(231,231,231,0.4); 
} 