*{
	list-style:none;
	margin:0;
	padding:0;
}
pre{
	font-size:1.2em;
}
#box {
	width: 920px;
	margin: 0 0  0 220px;
}
#list_ref{
	position:fixed;
	top:10px;
	left:480px;
	padding:10px;
	background-color:#fff;
	line-height:2;
}
#info {
	font-size: 18px;
	font-weight: bold;
	color: red;
}
#list {
	line-height: 1.5;
}
#list li{
	margin-top:25px;
	padding:2px 5px;
	border-bottom:1px #eee solid;
	height:60px;
}
#list li input{
}
#console{
	position : fixed;
	right:2em;
	top:5em;
}
.details {
	position: relative;
	/*visibility:hidden;*/
	margin-left:320px;
	color: #777;
}
.ref{
	/*margin:-22px 0 0 80px;*/
	position:absolute;
	width:160px;
}
.ref_{
	width:auto;
}

.ref0{
	left:-60px;
	top:23px;
}
.ref1{
	left:30px;
}
.ref2{
	left:180px;
}
.ref3{
	left:340px;
}

.ref4{
	left:490px;
}

.bg{
	background-color:#eee;
}