@charset "utf-8";
/**********************************************************************/
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
	font-style: normal;
	font-weight: normal;
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
code, kbd, samp, tt {
	font-size: 100%;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
 *font-size: 100%;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
	white-space: nowrap;
}
sup, sub {
	font-size: 100%;
	vertical-align: baseline;
}
/* remember to highlight anchors and inserts somehow! */
:link, :visited, ins {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
button{
	padding:2px;
}
b{
	font-weight:normal;
}
/* reset */
/**********************************************************************/
/**********************************************************************/
/* 基本设置  */
body{
	min-height:800px;
	/* font: 12px/1.5 tahoma,arial,simsun,sans-serif; */
}
pre{
	font-size:1.2em;
}
b{
	display:inline-block;
	width:1em;
	text-align:center;
}

/* 基本设置 */
/**********************************************************************/
/**********************************************************************/
/* 通用类 */

.table{
	border-collapse: collapse;
	line-height:1.4!important;
}
.table td {
	border:solid 1px #c2c5d8;
	width:3.6em;
	text-align:center;
}
.ls{
	border-top:solid 2px #eee;
}
.bg{
	background-color:#eee!important;
}


/* 通用类 */
/**********************************************************************/
/**********************************************************************/
/* 模块类 */
.box{
	width:100%;
	min-height:100%;
	background:#fff;
}
.box li[optional=1]:hover{
	background-color:#eee!important;
}
.operateBar{
	position:fixed;
	width:100%;
	height:32px;
	line-height:32px;
	top:0px;
	left:0;
	background:blue;
	text-align:right;
}

.info{
	font-weight:bold;
	color:#fff;
	font-size:16px;
	padding:0 20px;
}
.sortInfo{
	padding:0 20px;
	color:#fff;
	font-size:16px;
}
/*****************************************************/

.dobjBox{
	position:absolute;
	top:48px;
	font: 12px/1.5 tahoma,arial,simsun,sans-serif;
	border:solid 1px blue;
}
.dobjBox .name{
	position:absolute;
	top:-32px;
	font-size:1.4em;
}
.dobjBox .make{
	position:absolute;
	top:-28px;
	right:0;	
}
.dobjBox .set{
	position:absolute;
	top:-28px;
	right:64px;
}
.dobjBox .setBox{
	display:none;
	position:absolute;
	width:240px;
	top:-1px;
	right:-1px;
	background:#fff;
	border:solid 1px gray;
}
.dobjBox .setBox .key{
	margin:7px 5px;
}
.dobjBox .setBox input[type="number"]{
	position:absolute;
	top:-1px;
	right:-1px;
	width:36px;
	padding:3px 0;
}
.dobj li{
	margin:7px 5px;
}
 .dobj .key, .dobj span{
	display:inline-block;
}
.dobj .key{
	width:108px;
	padding:0 5px 0 10px;
	position:relative;
}
.dobj .key .add, .dobj .key .lessen{
	position:absolute;
}
 .dobj .key .add{
 	margin-left:5px;
}
 .dobj .key .lessen{
 	left:0px;
}
.key i, .dobj em{
	display:inline-block;
	width:24px;
	margin:0 2px;
	line-height:24px;
	text-align:center;
	font-weight:bold;
	border-radius:12px;
	cursor:pointer;	
}
.key i{
	margin:0 0 0 3px;
	font-style:normal;
	color: #4B4B4B;
	background: #E2E2E2;	
}
.key i.selected{
	color:#fff;
	background:blue;
}

.dobj em{
	color:#fff;	
	background:red;
}
.dobj em.cancel{
	color: #4B4B4B;
	background: #E2E2E2;
}
.dobjBox input[type="checkbox"]{
	display:none;
}

.dobj2 li{
	display:inline-block;
}
.dobj2 em{
	background:blue;
}

/* 模块类 */
/**********************************************************************/
/**********************************************************************/
/* 具体模块  */
#bluesBox{
	top:800px;
	left:40px;
	width:700px;
}
#classifyByDownMarginListBox{
	top:40px;
	left:40px;
	width:360px;
}
#classifyByDownMarginLocaMapListBox{
	top:520px;
	left:40px;
	width:360px;	
}
#classifyByUpMarginListBox{
	top:40px;
	left:440px;
	width:420px;
}
#classifyBySingleDigitListBox{
	top:40px;
	left:920px;
	width:320px;	
}
#classifyBySingleDigitListBox .dobj .key{
	width:120px;
}
#classifyBySingleDigitLocaMapListBox{
	top:420px;
	left:920px;
	width:360px;	
}
#classifyByColCountListBox{
	top:520px;
	left:440px;
	width:420px;
}
#classifyByColCountListBox .dobj .key{
	width:110px;
}

/******************************************/
/*  */

#numSelListBox{
	position:absolute;
	z-index:100;
	background:#fff;
	width:100%;
	margin:32px 0 0 0;
}
#numSelList{
	margin:0 0 0 40px;
}
#numSelList li{
	padding:20px 5px 5px 5px;
	border-bottom:1px #eee solid;
	height:48px;
	position:relative;
}
#numSelList li.selected{
	background:#FADCDE;
}
#numSelList li input[type="checkbox"]{
	position:absolute;
	left:187px;
	top:26px;
}
.details{
	display:;
}
.details .sortBtn{
	position:absolute;
	top:4px;
	right:-24px;
	font-size: 0.8em;
	opacity: 0.4;
	border: none;
	background: none;	
}
#numSelList .loca, #numSelList .col, #numSelList .up, #numSelList .down, #numSelList .digit, 
#numSelList .locaRef, #numSelList .colRef, #numSelList .upRef, .downRef, .digitRef{
	position:absolute;
	top:44px;
	color: #777;
}
#numSelList .locaRef, #numSelList .colRef, #numSelList .upRef, #numSelList .downRef, #numSelList .digitRef{
	top:20px;
}
#numSelList .loca, #numSelList .locaRef{
	left:230px;
}
#numSelList .col, #numSelList .colRef{
	left:310px;
}
#numSelList .up, #numSelList .upRef{
	left:450px;
}
#numSelList .down, #numSelList .downRef{
	left:640px;
}
#numSelList .digit, #numSelList .digitRef{
	left:820px;
}
#numSelList .loca b, #numSelList .col b, #numSelList .digit b,
#numSelList .locaRef b, #numSelList .colRef b, #numSelList .digitRef b{
	width:10px;
}

#sortBox{
	background:#fff;
	width:228px;
	padding:0 0 0 2px;
	border:solid 1px silver;
	position: absolute;
	top: 0;
	right: -240px;
	z-index:10000;
}
#sortBox input[type="text"]{
	width:170px;
}
/******************************************/
/*  */
#numSelRefList{
	position:fixed;
	z-index:101;
	top:32px;
	right:0px;
	width:1000px;
	padding:10px;
	color:rgba(20,20,20,1);
	background-color:rgba(199, 223, 228, 1);
}

#numSelRefList li{
	position:relative;
	padding:0 5px;
	height:28px;
	border-bottom:solid 1px rgba(230,230,234,1);
}
#numSelRefList li.ls{
	border-top:solid 1px rgba(230,230,234,1);
	border-bottom:none;
}
#numSelRefList li p{
	display:inline-block;
	width:160px;
	margin-left:20px;
	line-height:2;
}
#numSelRefList .upLoca, #numSelRefList .downLoca, #numSelRefList .digitLoca{
	width:60px;
	margin-left:10px;
}
#numSelRefList .upLoca b, #numSelRefList .downLoca b, #numSelRefList .digitLoca b{
	width:12px;
}
#numSelRefList li b{
	width:18px;
}

/******************************************/
/*  */

#groupListBox{
	position:fixed;
	top:32px;
	left:0;
	border: solid 1px #c2c5d8;
}
#groupListBoxBtn, #groupListInfo2{
	position:absolute;
	left:0px;
	top:-32px;
	display:inline-block;
	width:2em;
	padding:3px;
	background-color:#eee;
}
#groupList, #groupList2{
	width:260px;
	height:600px;
	margin:15px 0 0 30px;
	overflow:scroll;	
}
#groupList li, #groupList2 li{
	cursor:pointer;
	line-height:1.6;
	padding:5px;
	background-color:#fff;
}
#groupList li:hover, #groupList2 li:hover{
	background-color:#eee;
}

/******************************************/
/*  */

#refList{
	position:fixed;
	top:32px;
	right:0px;
	width:800px;
	padding:2px 10px;
	background-color:rgba(240,240,240,0.4);
}
#refList li{
	position:relative;
	padding:0 5px;
	height:28px;
	line-height:2;
	border-top:solid 1px #efefef;	
}
#refList li:nth-child(1){
	border-top:none;
}
#refList li p{
	display:inline-block;
	width:280px;
	margin:0 0 0 40px;
}
#refList li p.loca{
	width:120px;
}
#refList li b{
	width:2em;
}

#refList li p:nth-child(1){
	margin:0;
}


/*  */
/**********************************************************************/
/**********************************************************************/
/* 滚动条样式 */

 ::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(231,231,231,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(231,231,231,0.4); 
}

/* 滚动条样式 */
/**********************************************************************/
/**********************************************************************/
