---
layout: page
title : 归档
header : Post Archive
group: navigation
---
{% include JB/setup %}
<ul>
  {% for post in site.posts %}
  
    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }} </h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
      <br>
        <h2>{{ post.date | date: '%Y' }}</h2>
      {% endif %}
    {% endunless %}
{% unless post.draft %}
    <li>{{ post.date | date:"%m-%d" }} &nbsp;&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endunless %}
  {% endfor %}
</ul>