@charset "utf-8";


aside{
	position:fixed;
	width:64px;
	height:100%;
	background:#dfe3e8;
}
aside button{
	position:absolute;
	left:5px;
	font-size:0.6em;
}
aside button.current{
	font-size:0.9em;
	font-weight:bold;
}
button[data-type="upMarginRef"]{
	top:40px;
}
button[data-type="downMarginRef"]{
	top:80px;
}
button[data-type="singleDigitRef"]{
	top:120px;
}

/* */
.title i,
.content em {
	position: absolute;
	top:0;
	left:0;
	width: 40px;
	height: 20px;
	line-height: 20px;
	text-align: center;

}
.content.visual em{
	color: #fff;
	background-color: #0070c0;	
}

.title i {
	height: 20px;
	line-height: 20px;	
	font-style: normal;
	color:#fff;
	background-color: #538927;
}
.content em.red{
	background-color:#c00000;	
}
.title,
.content{
	left:64px;
	right:0;
	background: url(../img/bg3.png) repeat 0 0;	
}

.title {
	position: fixed;
	top: 0;
	z-index:100000;
	height:20px;
	overflow: hidden;
}

.content {
	position:absolute;
	top:20px;
	min-height: 1400px;
}

.content li,
.content > p {
	position: relative;
	height:20px;
	margin:1px 0 0 0;
}

.content li p{
	position:absolute;
}
