/* overwrite default style start
--------------------------------------- */
ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

p {
	margin-bottom: 24px;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

code {
	border: none;
	background: none;
}

pre {
	word-break: break-all;
}

.list li {
	padding-left: 15px;
	background: url(/assets/img/bg/square.png) no-repeat 3px 11px;
	line-height: 1.8;
}

ul.inline li {
	background: none;
	display: inline-block;
	padding: 0 10px 0 0;
}

blockquote {
	background: #3280bd;
	background: #e0e0e0;
	padding: 7px;
	border-left: solid 5px rgb(128, 157, 201);
}

blockquote p {
	margin: 5px 0;
}

/* rewrite pure start */
.pure-g {
	letter-spacing: 0em;
	text-rendering: optimizespeed;
	font-family: 'Segoe UI', Arial, 'Microsoft Yahei', 'Simsun', 'sans-serif';
        font-family: Georgia, serif;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: -ms-flexbox;
	-ms-flex-flow: row wrap;
}

/* rewrite pure end */
/* 常用类
------------------------------------ */
.left {
	float: left;
}

.right {
	float: right;
}

/* 字体颜色
------------------------------------- */
body {
	background: #eeeff1;
	background: #f7f7f7; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma,
		"Hiragino Sans GB", STHeiti;
	font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;
	line-height: 1.8;
	font-size: 14px;
	color:#444;
	font-family: 'Segoe UI', Arial, 'Microsoft Yahei', Simsun, sans-serif;	
	font-family: Georgia, serif;
}

a {
	display: inline-block;
	padding: 0 0em;
	color: #51829c;
	color: #428bca;
	text-decoration: none;
}

a:visited {
	
}

a:hover {
	color: #F02039;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-family: "Microsoft YaHei", Arial, Helvetica, Garuda, sans-serif;
	font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif!important;
}

blockquote {
	color: #4a4a4a;
}

code {
	font: 100% "Courier New", "Andale Mono", monospace;
	color: blue;
}

small {
	color: #999a9a;
}

hr{
	border:none;
	border-bottom: solid 1px #cbcaca;
}

#top {
	background: #f5f5f6;
	background: #E8E8F1;
	font-size: 2em;
	line-height: 2;
	@border-bottom: solid 4px #51829c;	
	opacity:0.4;
}
#top:hover{
	opacity:1;
}

#top nav li {
	display: inline-block;
	margin: 0 0.5em 0 0;
	padding: 0 0.5em;
	position: relative;
}

#top nav li.active:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	left: 40%;
	overflow: hidden;
	border-right: solid 0.4em rgba(255, 0, 0, 0);
	border-left: solid 0.4em rgba(0, 128, 0, 0);
	border-bottom: solid 0.4em #fff;
}

#top nav li a:hover {

}

#top span {
	font-size: 0.4em;
	line-height: 3;
}

/* layout setting start
------------------------------------ */
html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

html,body {
	min-height: 100%;
}

/* common component class start
 * ----------------------------------- */
.tag_cloud {
	line-height: 2;
}

.article_meta {
	margin-bottom: 20px;
	color: #999a9a;
	font-size: 0.8em;
}

.article_meta ul.inline {
	display: inline-block;
}


#wrapper {
}

#top {
	
}

#top,#mainbody,#footer {
	
}

#mainbody, #top .wrap, #footer .wrap{
	max-width: 960px;
	margin: 0 auto;
}

#content {
	margin: 0 2em 0 0;
}

#aside {
	margin: 0 1em 0 0;
}

#footer{
	margin-top:1.5em;
	background:#fff;
}
