@charset "utf-8";
/* CSS Document */
#content{ width:940px; border:none; margin:20px 0 0 0;}
#content h3{ line-height:33px; padding:0 0 0 18px;font-size:21px;color:#FFFFFF; background:url(../images/reservation_h3_background.gif) no-repeat 0 0;}
.content{padding:26px 7px 0  7px;background: url(../images/reservation_content_top_background.gif) no-repeat 0 0 #ace4f6; height:100%;}
.left_content{width:396px; height:480px; padding:0 5px 0 5px; float:left; background-color:#FFFFFF; }
.left_content p.pone{ line-height:1.5; padding:30px 5px 55px 5px; color:#ef8231; background:url(../images/reservation_06.gif) no-repeat 0 0;}
.left_content ul{margin:0 0 0 30px;}
.left_content ul li{ margin:0 0 15px 0; padding:0 0 5px 75px; border-bottom:#CCCCCC 1px dashed;}
.left_content ul li.l1{ background:url(../images/reservation_11.gif) no-repeat 0 5px;}
.left_content ul li.l2{ background:url(../images/reservation_15.gif) no-repeat 0 5px;}
.left_content ul li.l3{ background:url(../images/reservation_17.gif) no-repeat 0 5px;}
.left_content ul li.l4{ background:url(../images/reservation_19.gif) no-repeat 0 5px;}
.left_content ul li h5{ line-height:2;}

.right_content{ width:435px;height:480px;padding:0 45px 0 35px; float:right;background-color:#FFFFFF;}
.right_content form{ background-color:#fff7e9; padding:10px 0 0 20px;}
.right_content form ul li{margin:15px 0;}
.right_content form ul li span{ padding:0 0 0 5px; color:#FF0000;}
.right_content form h4{ margin:0 0 5px 0; color:#ef8231;}
.right_content form p{ color:#999999;}
.right_content form label{ display:block; width:60px;margin:0 10px 0 0; float:left;}
.right_content form input.button{ margin:20px 0 20px 75px;}

div.bottom{padding:35px 0 0 20px; background: url(../images/reservation_content_bottom_background.gif) no-repeat 0 0;}
.content div.clear{ height:0; font-size:0; line-height:0;}