<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>方案-1</title>
<link href="back/style.css" rel="stylesheet" type="text/css" media="all">
<script src="back/jquery.min.js" type="text/javascript"></script>
<script src="back/template.js" type="text/javascript"></script>
<script src="back/33.js" type="text/javascript"></script>
<script src="back/help.js" type="text/javascript"></script>
<script src="back/doc.js" type="text/javascript"></script>

<!-- template
  	================================================== 
    ================================================== -->
    
<script id="groupListItemTemp" type="text/html">
    <% for (var i in list) { var item = list[i]; var group = item.group %>
        <li data-group="<%= item.groupStr %>" data-loca="<%= item.loca %>" data-unique="<%= item.unique %>"  optional=1>
			<input type="checkbox" name="" />&nbsp;

            <span> 
				<% for ( var k in group ) {  %>
					<b><%=group[k]%></b>
				<%}%>
           </span>
			&nbsp;
			<button class="make"  data-group="<%= item.groupStr %>">make</button>
		</li>
    <%}%>
</script>
<script id="numSelListItemTemp" type="text/html">
    <% for (var i in list) { var obj = list[i]; %>
        <li optional=1 data-col="<%= obj.col %>" data-up="<%= obj.up %>" data-down="<%= obj.down %>" data-digit="<%= obj.digit %>"  data-up-loca="<%= obj.upLoca %>" data-down-loca="<%= obj.downLoca %>" data-digit-loca="<%= obj.digitLoca %>">
				<input type="checkbox" name="" />
				<% delete obj.col; delete obj.up; delete obj.down; delete obj.digit; delete obj.upLoca; delete obj.downLoca; delete obj.digitLoca; %>
				<% for (var j in obj) { var item = obj[j] %>
                		<p class="<%= (j == 'redBall'? j : j+' details') %>" >
							<% for (var k in item) {  %>
									<b><%=item[k]%></b>
							<%}%>
                		</p>
				<%}%>
		</li>
    <%}%>
</script>
<script id="numSelRefListItemTemp" type="text/html">
    <% for (var i in list) { var obj = list[i]; %>
        <li class="<%= className %>">
				<% for (var j in obj) { var item = obj[j] %>
                		<p class="<%= j %>" >
							<% for (var k in item) {  %>
									<b><%=item[k]%></b>
							<%}%>
                		</p>
				<%}%>
		</li>
    <%}%>
</script>
<script id="boxTemp" type="text/html">
<div  id="<%= id && id+'Box' || '' %>" class="box">
	<% include( 'listTemp' ) %>

	<div class="operateBar">
		<span class="info"><%= info %></span>
		<button class="reset">反选</button>
		<button class="del">删除所选</button>
		<button class="showRef">显示参照</button>
		<button class="toggle">切换细节</button>
		<button class="close">关闭窗口</button>
	</div>
</div>
</script>
<script id="listTemp" type="text/html">
    <ul id="<%= id || '' %>" >
			<% include( embedTemp || 'groupListItemTemp') %>
    </ul>
</script>
<script id="refListItemTemp" type="text/html">
    <% for (var i in list) { var obj = list[i]; %>
        <li class="<%= className || '' %>">
				<% for (var j in obj) { var item = obj[j] %>
                		<p class="<%= j %>" >
							<% for (var k in item) {  %>
									<b><%=item[k]%></b>
							<%}%>
                		</p>
				<%}%>
		</li>
    <%}%>
</script>
<!-- template
  	================================================== 
    ================================================== -->
</head>
<body>

<script>
	
	window.classifyByIndex = 2;
	window.blueBallIsRandom = 0;

	window.groupRefList = window[ refMap[classifyByIndex] ];

	window.classifyList = window[window.classifyBy[classifyByIndex]];
	

	classifyList = {"0":[4,15,16,24,27,28],"1":[17,19,23],"2":[6,14,18,26],"3":[9,31],"4":[1],"5":[7,12,22],"6":[20,21],"8":[3,33],"9":[5,10],"10":[13],"11":[2],"13":[8],"14":[30],"15":[11],"19":[32]} 
	
	
	window.filter = function(loca, col, upMargin, downMargin, singleDigit) {
		//if(loca[1] != 2) return false;
		//if(compare(col,colNumberRef[colNumberRef.length-1],2)) return false;
		//if(compare(upMargin,upMarginRef[upMarginRef.length-1],1)) return false;
		//if(compare(downMargin,downMarginRef[downMarginRef.length-1],1)) return false;
		//if(compare(singleDigit,singleDigitRef[singleDigitRef.length-1],2)) return false;
		//if(singleDigit[5] != 7 ) return false;
	};

	//window.blues = [ '04', '14' ]; 

	//var groupnum = [5,10,10,0,1,6];
	var groupnum = [2,5,3,9];

	window.patch = [ 0 ,3];

	window.groupList = group(groupnum, 4);
	
	q = groupWrap(groupList);


	q = groupListModel(q);



$( template('boxTemp',{list:q, info: q.length, id:'groupList', embedTemp:''}) ).appendTo('body');

















</script>
<script src="back/init.js" type="text/javascript"></script>
</body>
</html>
