<!DOCTYPE html>
<html ng-app="dbApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="assets/css/libs/normalize.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/libs/main.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/base.css" />

    <script src="assets/js/libs/underscore-1.6.0.min.js"></script>
    <script src="assets/js/libs/jquery.min.js"></script>
    <script src="assets/js/libs/angular.min.js"></script>
    <script src="assets/js/libs/angular-route.js"></script>
    <script src="33.js"></script>
    <script src="assets/js/bottom.js"></script>
    <style>
        body{
            padding:0em 0em 0em 2em;
        }
    </style>
</head>
<body>
<div class="wraper-4 bg-4" ng-controller="bottomCtrl">

    <dl class="list-4">
        <li ng-repeat="item in ng track by $index">
            <em class="t-r" ng-bind="item.num"></em>
        </li>
    </dl>

    <dl class="list-4">
        <li ng-repeat="item in upList">
            <em ng-repeat="v in item | orderBy:vs:false track by $index" ng-bind="v"></em>
        </li>
    </dl>


    <dl class="list-4">
        <li ng-repeat="item in prevList">
            <em ng-repeat="v in item | orderBy:vs:false track by $index" ng-bind="v"></em>
        </li>
    </dl>

    <dl class="list-4">
        <li ng-repeat="item in nextList">
            <em ng-repeat="obj in item" ng-bind="obj.v" ng-class="obj.over && 'f-red'"></em>
        </li>
    </dl>

    <dl class="list-4">
        <li ng-repeat="item in nextList">
            <em ng-if="!obj.over" ng-repeat="obj in item | orderBy:'v'" ng-bind="obj.v"></em>
        </li>
    </dl>
</div>
</body>
</html>