<!DOCTYPE html>
<html ng-app="dbApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="assets/css/libs/normalize.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/libs/main.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/base.css" />

    <script src="assets/js/libs/underscore-1.6.0.min.js"></script>
    <script src="assets/js/libs/jquery.min.js"></script>
    <script src="assets/js/libs/angular.min.js"></script>
    <script src="assets/js/libs/angular-route.js"></script>
    <script src="33.js"></script>
    <style>
        #view {
            position: relative;
            margin: 21px 0 0 0;
        }

    </style>
</head>
<body>

<div id="view" class="wraper-4 bg-3">


<ul class="list-3" ng-controller="marginCtrl">
    <li ng-repeat="(k, item) in reds">
        <i ng-bind="k" ng-if="item"></i>
            <em ng-repeat="v in item.margin track by $index" ng-bind="v"></em>
    </li>
</ul>
</div>
<script>

    var dbApp = angular.module('dbApp', ['ngRoute', 'ctrls', 'servs']);

    var ctrls = angular.module('ctrls', []);

    var servs = angular.module('servs', []);

    ctrls.controller('marginCtrl', function ($scope) {

        var r = f();
        $scope.reds = r.reds;

    });


    function f() {

        var rsto = {};
        var bsto = {};
        var rtop = [];

        for (var i = 0, ngl = ng.length; i < ngl; i++) {

            var num = ng[i];
            var rs = num.red;
            var bs = num.blue;

            //red
            for (var k = 1; k < 34; k++) {

                for (var j = 0; j < 6; j++) {

                    var r = rs[j];

                    if (k === r) {

                        var rstoItem = rsto[k] = rsto[k] || { margin: [] };

                        if ('start' in rstoItem) {

                            rstoItem.margin.push(i - rstoItem.start - 1);


                            var rtopItem = rtop[i] = rtop[i] || {};

                            rtopItem[k] = rstoItem.margin.length - 1;

                        }

                        rstoItem.start = i;

                    }

                }


                if (i === ngl - 1) {

                    var rstoItem = rsto[k] = rsto[k] || { margin: [] };
                    rstoItem.margin.push(i - (rstoItem.start || 0));

                }

            }


            //blue
            for (var k = 1; k < 17; k++) {

                if (k === bs) {

                    var bstoItem = bsto[k] = bsto[k] || { margin: [] };

                    if ('start' in bstoItem) {
                        bstoItem.margin.push(i - bstoItem.start - 1);
                    }

                    bstoItem.start = i;

                }


                if (i === ngl - 1) {

                    var bstoItem = bsto[k] = bsto[k] || { margin: [] };
                    bstoItem.margin.push(i - (bstoItem.start || 0));
                }

            }

        }

        var reds = [];

        _.each(rsto, function(v, k, list){

            console.log(k)
            reds[k] = v;

        });

        return {reds: reds};

    }


</script>
<script id="tmpl" type="text/tmpl">
    <ul>
        <% for(var i = 1, item; item = reds[i]; i++) {  %>
            <li>
                <i>
                    <%= i %>
                </i>
                <span>
                    <% for(var j in item.margin) {  %>
                    <em>
                        <%= item.margin[j] %>
                    </em>
                    <% } %>
                </span>
            </li>
        <% } %>
    </ul>


</script>
</body>
</html>