/* ******************************************************************* */
.nav-container{
	margin-top:30px;
}
.nav {
	margin-top:45px;
	padding:10px 0;
	color:white;
	background-color:rgb(132, 161, 184);
	border-radius:5px;
}
.nav li{
	padding:3px 0;
}

.nav>li>a{
	padding:4px 0 1px 12px;
	color:white;
	font-size:1.2em;
}
.nav>li>a:hover{
	color:white;
	background-color:rgb(122, 151, 174);
}
.nav>li.active>a{
	color:rgb(168, 46, 16);
}
/* overwrite default style  < by Julien198414 > */
ul{
	list-style:none;
	margin:0;
	padding:0;
}
ul>li{
	padding-left:15px;
	background:url(/assets/img/square.png) no-repeat 0 9px;
}

ul.inline li{
	background:none;
	display:inline-block;
	padding:0 10px 0 0;
	
}
code{
	color:blue;
	border:none;
	background:none;
}
/* layout setting start
----------------------------- */
p{
	margin-bottom:18px;
}

/* layout setting end
----------------------------- */


/* font style setting start
---------------------------- */
body{
	line-height: 1.6;
	font-size:15px;
	color:#333;
}

a{
	text-shadow:0 1px 0 #fff;
	color:#146eb4;
	color:#9C0001; /* red */
	color:#296d99; /* blue */
	
}
a:visited{
	/* color:#b63e97; */
}
a:hover,.active{
	color:#00aaaa;
	color:#cf0505;
	color:#b92d56;
}
h1 a, h1 a:hover{
	color:#00aaaa;
	color:#b92d56;
}

h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	font-family: Microsoft YaHei, Arial,Helvetica,Garuda,sans-serif;
}
h1{
	font-size:32px;
	text-shadow: 0 1px 0 #fff;
	color:#00aaaa;
	color:#2c8cbd;
	color:#545a5a;	
}
h2{
	font-size:26px;
}
h3{
	font-size:20px;
	border-bottom:solid 1px #d4d8da;
}
h4{
	font-size:16px;
	color:#666;
}

code{
	font-family:'宋体';
}


.active{
	font-weight:bold;
}

h4.active{
	margin-left:-10px;
	padding-left:10px;
	border-left:4px solid #b92d56;
}
/* font style setting end
--------------------------- */
html {
    height: 100%;
}

body {
    min-height: 100%;
	padding-top:10px;
}
html,body{
background: #ededec; /* Old browsers */
background: -moz-linear-gradient(top,  #ededec 0%, #f2f2f2 52%, #dedede 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededec), color-stop(52%,#f2f2f2), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ededec 0%,#f2f2f2 52%,#dedede 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ededec 0%,#f2f2f2 52%,#dedede 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ededec 0%,#f2f2f2 52%,#dedede 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ededec 0%,#f2f2f2 52%,#dedede 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededec', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
background:rgb(252, 242, 231)!important;
min-height:100%;
}

.content{
	padding-bottom:10px;
}

.page-header{
	margin:0 0 10px;
	padding-bottom:0;
	border-bottom: 2px solid #d4d8da;
}

/* common component class start
 * -------------------------- */
.background_1{
	background:#e8e8e8;
	color:#99003f;
	border-radius:5px;
	padding:5px;
}
.posts_list li span{
}

.tag_cloud{
	line-height:2;
}
.article_meta{
    margin-bottom: 20px;
	color:#999a9a;
	font-size:0.8em;
}

.article_meta ul.inline{
	display:inline-block;
}
.introduction {
	
}
/* common component class end
 * -------------------------- */
.span2.offset1{
	float:left;
	margin:0 0 0 5%;
	width:20%;
}
.span8{
	margin-left:27%;
	margin-right:5%;
}
