/*
 *  by Julienedies
 * 
 */




/* overwrite default style start
--------------------------------------- */
ul{
	margin:0;
	padding:0;	
}
ul{
	list-style:none;
}
p{
	margin-bottom:24px;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}
code{
	border:none;
	background:none;
}
pre{
	word-break: break-all;
}

ul>li{
	padding-left:15px;
	background:url(/assets/img/square.png) no-repeat 3px 11px;
	line-height:1.8;
}

ul.inline li{
	background:none;
	display:inline-block;
	padding:0 10px 0 0;
}
blockquote{
    background: #3280bd;
	background: #e0e0e0;
    padding: 7px;
	border-left: solid 5px rgb(128, 157, 201);
}
blockquote p{
	margin:5px 0;
}


/* font/color style setting start
------------------------------------- */
body{
    background: #ededec; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededec 0%, #f2f2f2 52%, #dedede 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededec), color-stop(52%,#f2f2f2), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededec 0%,#f2f2f2 52%,#dedede 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededec 0%,#f2f2f2 52%,#dedede 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededec 0%,#f2f2f2 52%,#dedede 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ededec 0%,#f2f2f2 52%,#dedede 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededec', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
	background:#fcf4ec!important;
	background:rgb(240,240,240)!important;	
	/* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;	
	line-height: 1.7;
	font-size:14px;	
	color:#333;
}
a{
	text-shadow:0 1px 0 #fff;
	color:#146eb4;
	color:#9C0001; /* red */
	color:#296d99; /* blue */
}
a:visited{
	/* color:#b63e97; */
}
a:hover,.active{
	color:#00aaaa;
	color:#cf0505;
	color:#b92d56;
}
h1 a, h1 a:hover{
	color:#00aaaa;
	color:#b92d56;
}

h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	font-family: "Microsoft YaHei", Arial,Helvetica,Garuda,sans-serif;
}
h1{
	text-shadow: 0 1px 0 #fff;
	font-size:32px;
	color:#00aaaa;
	color:#2c8cbd;
	color:#545a5a;	
}
h2{
	font-size:26px;
	padding-bottom:8px;
	background:url(/assets/img/stripe1.gif) repeat-x 0 bottom;
}
h3{
	font-size:24px;
	border-bottom:solid 1px #d4d8da;
}
h4{
	font-size:16px;
	color:#666;
}
blockquote{
	color: #4a4a4a;
}
code{
	font: 100% "Courier New", "Andale Mono", monospace;
	color: blue;
}

small{
	color:#999a9a;
}
.active{
	font-weight:bold;
}

h4.active{
	margin-left:-10px;
	padding-left:10px;
	border-left:4px solid #b92d56;
}
.content{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
	color:rgb(69,69,69);	
}


/* layout setting start
------------------------------------ */

html {
    height: 100%;
}

body {
    min-height: 100%;
	padding-top:10px;
}
html, body {
	min-height:100%;
}

.content{
	padding:5px 0 10px 0;
}

.page-header{
	margin:0 0 10px;
	padding-bottom:0;
	border-bottom: 2px solid #d4d8da;
}
.page-header h1{
	margin-bottom:10px;
}
.span2.offset1{
	margin:0 1% 0 4%;
	width:19%;
	min-width:180px;
	display:inline-block;
	vertical-align:top;
}
.span8{
	margin:0 4% 0 0;
	width:70%;
	display:inline-block;
	vertical-align:top;
}

#top{
	display:none;
}



/* common component class start
 * ----------------------------------- */

.background_1{
	background:#e8e8e8;
	color:#99003f;
	border-radius:5px;
	padding:5px;
}
.posts_list li span{
}

.tag_cloud{
	line-height:2;
}
.article_meta{
    margin-bottom: 20px;
	color:#999a9a;
	font-size:0.8em;
}

.article_meta ul.inline{
	display:inline-block;
}
.introduction {
	
}
footer p{
	margin-bottom: 4px;
	padding-top: 4px;
	border-top: 1px solid rgb(209, 209, 209);
}


