---
layout: default
---
{% include JB/setup %}

<div id="body" class="pure-g">
	
    <article class="pure-u-1 pure-u-md-4-5">
    
    	<div id="content">
    
	        <header class="page-header">
	            <h1>{{ page.title }}
				 {% if page.tagline %}
	                <small>
	                    {{page.tagline}}
	                </small>
					{% endif %}
	            </h1>
	        </header>
	        
	        
	        <div class="post-full">
	                <section class="article_meta">
	                	<span>发布于  {{ page.date | date: '%Y-%m-%d' }}</span>
						&nbsp;&nbsp;
						
	                	{% if page.tags contains 'translated' %}
	                		<span>译 
						{% else %}
							<span>by 
						{% endif %}
							<a href="http://julienedies.github.io/contact.html" >{{ site.author.name }}</a></span>					
						
	                  {% unless page.categories == empty %}
	                   &nbsp;&nbsp;
					   <span>分类 </span>
	                    <ul class="inline">
	                        {% assign categories_list = page.categories %}
	                        {% include JB/categories_list %}
	                    </ul>
					 {% endunless %}
						
					 {% unless page.tags == empty %}
						&nbsp;&nbsp;
	                    <span>标签 </span>
	                    <ul class="inline">
	                        {% assign tags_list = page.tags %}
	                        {% include JB/tags_list %}
	                    </ul>					
	                {% endunless %}
					</section>
					
					<hr>					
									
	                <section class="content">
	                    {{ content }}
						<p><small>--END--</small></p>
						{% assign brushs = page.brushs %} 
						{% include JB/syntaxhighlighter %}
	                </section>
					
					<hr>
					
			        <section>
			            <h4>标签</h4>
			            <ul class="inline tag_cloud">
			                {% assign tags_list = site.tags %} 
			                {% include JB/tags_list %}
			            </ul>
			        </section>	
			        
			        <hr>				
					
	                <section class="pagination">
	                    {% if page.next %}<p class="next">
	                    	下一篇：<a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></p>
	                    {% endif %}                	
	                    {% if page.previous %}
	                    <p class="prev">
	                                                                上一篇：<a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
	                    </p>
	                    {% endif %}
	                </section>
	                
	                {% include JB/comments %}
	                
	        </div>	
        
        </div>
        
    </article>
    
    
   <aside class="pure-u-1 pure-u-md-1-5">
   
   	   <div id="aside">
   	 
	        <h1><a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
	        
	        <section>
	            <h4>分类</h4>
	            <ul>
	                {% assign categories_list = site.categories %}
	                {% include JB/categories_list %}
	            </ul>
	        </section>
	        

			
			<br />
			<script type="text/javascript" src="http://www.xiami.com/widget/player-multi?uid=2733355&sid=389830,3443382,3466371,53736,3466380,369196,&width=180&height=346&mainColor=5695c1&backColor=457cb4&autoplay=0&mode=js"></script>
		
	    </div>
		
   </aside>   
	
</div>
