---
layout: default
---
{% include JB/setup %}

<div class="row-fluid">
	
    <div class="span2 offset1">
        <h1><a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
		<!--
            <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
            </ul>
         -->
        <aside>
            <h4>分类</h4>
            <ul>
                {% assign categories_list = site.categories %}
                {% include JB/categories_list %}
            </ul>
        </aside>
        <aside>
            <h4>标签</h4>
            <ul class="inline tag_cloud">
                {% assign tags_list = site.tags %} 
                {% include JB/tags_list %}
            </ul>
        </aside>
    </div>

    <div class="span8">
        <header class="page-header">
            <h1>{{ page.title }}
			 {% if page.tagline %}
                <small>
                    {{page.tagline}}
                </small>
				{% endif %}
            </h1>
        </header>
        <div class="row-fluid post-full">
            <div class="span12">
                <div class="article_meta">
                	<span>作者：{{ site.author.name }}</span>
					&nbsp; | &nbsp;
                    <span> 创建时间：{{ page.date | date: '%Y-%m-%d' }}</span>
					
                  {% unless page.categories == empty %}
                   &nbsp; | &nbsp;
				   <span>分类：</span>
                    <ul class="inline">
                        {% assign categories_list = page.categories %}
                        {% include JB/categories_list %}
                    </ul>
				 {% endunless %}
					
				 {% unless page.tags == empty %}
					&nbsp; | &nbsp;
                    <span>标签：</span>
                    <ul class="inline">
                        {% assign tags_list = page.tags %}
                        {% include JB/tags_list %}
                    </ul>					
                {% endunless %} 
				</div>
								
                <div class="content">
                    {{ content }}
					<p><small>--END--</small></p>
                </div>
				
				<!--
                {% unless page.categories == empty %}
                <div>
                    <h6>分类：</h6>
                    <ul class="inline">
                        {% assign categories_list = page.categories %}
                        {% include JB/categories_list %}
                    </ul>
                </div>
                {% endunless %} 
                {% unless page.tags == empty %}
                <div>
                    <h6>标签：</h6>
                    <ul class="inline">
                        {% assign tags_list = page.tags %}
                        {% include JB/tags_list %}
                    </ul>
                </div>
                {% endunless %} 
				-->
				<hr>
                <div class="pagination">
                    {% if page.next %}<p class="next">
                    	下一篇：<a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></p>
                    {% endif %}                	
                    {% if page.previous %}
                    <p class="prev">
                                                                上一篇：<a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
                    </p>
                    {% endif %}
                </div>
                {% include JB/comments %}
            </div>
        </div>
    </div>
	
</div>
